@charset "utf-8";
/* These CSS rules will affect the sponsors page.  */


/* Header */
header {
	background-image:url(../img/speakers/header.jpg);
	background-repeat:no-repeat;
	background-size: contain;
	width:100%;
	height:27.08333vw; 
	color:#fff;
	margin-top: 4.0625vw;
}
#HeaderInnerContainer {
	padding-top: 4.6875vw;
	padding-left: 16.666666vw;	
}
header h1 {
	font-size:3.125833vw;
	margin-top: 0px;
	margin-bottom:2.34375vw;
}
header p {
	width: 100%;
	max-width:30.46875vw;
	font-size:1.25vw;
	line-height: 1.5625vw;
	margin-bottom:3.645833vw;
}
header button {
	font-size: 1.25vw;
	font-weight: 600;
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
	border: 3px solid #fff;
	padding: 0;
	max-width: 15.625vw;
	height: 3.6458333vw;
	transition: all 0.3s ease-in;
}
header button:hover {
	background-color: #106ab5;
	border: 3px solid #106ab5;
}
@media (max-width: 1000px) {
	header {
		margin-top: 50px;	
	}
}
@media (max-width: 768px) {
header {
	background-image:url(../img/speakers/header-small-tablet.jpg);
	background-repeat:no-repeat;
	background-size: contain;
	width:100%;
	height:56.25vw; 
}
#HeaderInnerContainer {
	padding-top: 7.8125vw;
	padding-left: 7.03125vw;	
}
header h1 {
	font-size:6.5625vw;
	margin-top: 0px;
	margin-bottom:4.6875vw;
}
header p {
	width: 100%;
	max-width:47.65625vw;
	font-size:2.5vw;
	line-height: 3.4375vw;
	margin-bottom:6.25vw;
}
header button {
	font-size: 2.34375vw;
	border: 1px solid #fff;
	max-width: 28.90625vw;
	height: 7.03125vw;
}
header button:hover {
	background-color: #106ab5;
	border: 1px solid #106ab5;
}
}
/* END Header */
	
/* Main Content */
#MainContent {
	box-sizing: border-box;	
}
#MainContent * {
	box-sizing: border-box;	
}
/* END Main Content */

/* Speakers */
#Speakers {
	width: 100%;	
}

/* Speakers Grid */
#SpeakersGrid {
	width: 100%;
	max-width: 60.677083vw;
	margin: 0 auto;
	font-size: 0; /* This snaps the inline-block divs to eachother. Source: http://stackoverflow.com/questions/14241696/how-to-get-rid-of-space-between-divs-when-display-inline-block-and-stacked-horiz 
					comment this line and see what happens. */
	padding: 1.5625vw 0 2.34375vw 0;
}
.Speaker {
	width: 100%;
	max-width: 13.5416666vw;
	margin: 0 0.78125vw 2.4479166vw 0.78125vw;
	display: inline-block;
	vertical-align: top;
}
.SpeakerPhoto {
	width: 100%;
	max-width: 13.541666vw;
	height: 13.541666vw;
	background-size: cover;
}
.SpeakerInfo {
	width: 100%;
	font-weight: 600;
	padding: 0.8854166vw 0 0 0;
}
.SpeakerName, .Jobtitle, .CompanyName {
	margin: 0;	
}
.SpeakerName {
	font-size: 1.0416666vw;
}
.Jobtitle, .CompanyName {
	font-size: 0.729166vw;
	color: #6c6c6c;
}
.Jobtitle {
	font-weight: 400;
	line-height: 1.458333vw;	
}
.CompanyName {
	font-weight: 700;
	line-height: 1.25vw;
}
@media (max-width: 1919px) { /* from 1280 to 1919 everything is defined in pixels */
	#SpeakersGrid {
		max-width: 1165px;
		padding-bottom: 45px;
		padding-top: 30px;
	}
	.Speaker {
		max-width: 260px;
		margin: 0 15px 47px 15px;
	}
	.SpeakerPhoto {
		max-width: 260px;
		height: 260px;
	}
	.SpeakerInfo {
		padding: 17px 0 0 0;
	}
	.SpeakerName, .Jobtitle, .CompanyName {
		line-height: 18px;	
	}
	.SpeakerName {
		font-size: 20px;
		line-height: 28px;
	}
	.Jobtitle, .CompanyName {
		font-size: 14px;
		line-height: 24px;
	}
}
@media (max-width: 1280px) {
	#SpeakersGrid {
		max-width: 91.015625vw;
		padding-bottom: 3.515625vw;
		padding-top: 2.34375vw;
	}
	.Speaker {
		max-width: 20.3125vw;
		margin: 0 1.171875vw 3.671875vw 1.171875vw;
	}
	.SpeakerPhoto {
		max-width: 20.3125vw;
		height: 20.3125vw;
	}
	
	.SpeakerInfo {
		padding: 1.328125vw 0 0 0;
	}	
	.SpeakerName {
		font-size: 1.5625vw;
		line-height: 2.1875vw;
	}
	.Jobtitle, .CompanyName {
		font-size: 1.09375vw;
		line-height: 1.875vw;
	}
}
@media (max-width: 1000px) {
	#SpeakersGrid {		
		max-width: 98vw;
		margin: 0 auto;
		padding: 15px 0vw 5.2083333vw 0.4vw;
	}	
	.Speaker {	
		max-width: 21.74479vw;
		margin-left: 1.302083vw;
		margin-right: 1.302083vw;
	}
	.SpeakerPhoto {	
		max-width: 21.74479vw;
		height: 21.74479vw;
	}
	
	.SpeakerInfo {
		padding: 1.953125vw 0;
	}
	.SpeakerName, .Jobtitle, .CompanyName {
		line-height: 2.34375vw;
	}
	.SpeakerName {
		font-size: 2.083333vw;
	}
	.Jobtitle, .CompanyName {
		font-size: 1.5625vw;
	}
}
@media (width: 800px) { /* for tablets with 800px res (e.g. the LG GPad 10.1 tablet, ASUS Transformer, etc. ) */
	#SpeakersGrid {
		/*padding-left: 10px;*/
		padding-right: 0;
	}
}
@media (max-width: 730px) { /* Fixing the grid (4 speakers in 1 row) under 730px */
	#SpeakersGrid {		
		padding-left: 1vw;
	}
	.Speaker {
		margin-left: 1vw;
		margin-right: 1vw;	
	}
}
/* END Speakers Grid */
/* END Speakers */

/*Modal*/
#SpeakerModal {
	padding: 50px;
}
#SpeakerModal * {
	text-align: left !important;	
}
.SpeakerProfileContainer {
	/*width: 100%;
	background-color: #fff;*/
}






	.SpeakerProfile {
		width: 100%;
		/*padding: 4.6875vw 7.8125vw 5.20833333vw 7.8125vw;*/	
		background-color: #fff;
		max-width: 1140px;	
	}
	#SpeakerPhoto {
		width: 345px;
		/*height: 345px;	*/
	}
	#SpeakerInfo {
		display: inline-block;
		width: 100%;
		vertical-align: top;

		max-width: 400px;
		margin-left: 90px;
	}
	#SpeakerName, #Jobtitle, #CompanyName {
		line-height: 40px;	
		margin: 0;
	}
	#SpeakerName {
		font-size: 30px;
		margin-top: 10px;
	}
	#Jobtitle, #CompanyName {
		font-size: 24px;
		color: #6c6c6c;	
	}
	#CompanyName {
		font-weight: 700;
	}
	#SpeakerIconsContainer {
		margin-top: 30px;
		font-size: 0;	
	}
	#SpeakerIconsContainerMobile {
		display: none;
	}
	.SpeakerIcon {
		display: inline-block;
		background-size: cover;
		margin-right: 15px;
		width: 30px;
		height: 30px;
	}
	#SpeakerFacebookIcon {
		background-image: url(../img/speakers/SocialIcons/facebook-icon.png);
	}
	#SpeakerTwitterIcon {
		background-image: url(../img/speakers/SocialIcons/twitter-icon.png);
	}
	#SpeakerLinkedInIcon {
		background-image: url(../img/speakers/SocialIcons/linkedin-icon.png);
	}
	#SpeakerWebsiteIcon {
		color: #717171;
		position: relative;
		transition: all 0.3s;
		font-size: 27px;
		top: -3px;
		left: 5px;
	}
	#SpeakerWebsiteIcon:hover {
		color: #106ab5;	
	}
	#CompanyLogo {
		background-size: cover;
		margin-top: 25px;
		max-height:140px;
	}
@media (max-width: 1280px) {
	.SpeakerProfile {
		max-width: 89.0625vw;
		/*padding: 7.03125vw 11.71875vw 7.8125vw 11.71875vw;*/	
	}
	#SpeakerPhoto {
		width: 26.953125vw;
		/*height: 26.953125vw;	*/
	}
	#SpeakerInfo {
		max-width: 30vw;
		margin-left: 7.03125vw;
	}
	#SpeakerName, #Jobtitle, #CompanyName {
		line-height: 3.125vw;	
	}
	#SpeakerName {
		font-size: 2.34375vw;
		margin-top: 0.78125vw;
	}
	#Jobtitle, #CompanyName {
		font-size: 1.875vw;
	}
	#SpeakerIconsContainer {
		margin-top: 2.34375vw;
	}
	.SpeakerIcon {
		margin-right: 1.171875vw;
		width: 2.34375vw;
		height: 2.34375vw;
	}
	#SpeakerWebsiteIcon {
		font-size: 2.109375vw;
		top: -0.234375vw;
		left: 0.390625vw;
	}
	#CompanyLogo {
		margin-top: 2.734375vw;
	}
}
@media (max-width: 1000px) {
	.SpeakerProfile {
		max-width: 100%;
		/*padding: 0 0 6.5104166vw 0;	*/
	}
	#MainSpeakerInfo {
		/*background-color: #f4f4f2;
		padding: 2.6041666vw;*/
	}
	#SpeakerPhoto {
		width: 26.0416666vw;
		/*height: 26.0416666vw;	*/
	}
	#SpeakerInfo {
		/*max-width: 60vw;*/
		max-width: 40vw;
		/*margin-left: 4.5572916vw;*/
	}
	#SpeakerName {
		font-size: 3.125vw;
		margin-top: 3.2552083vw;
		line-height: 4.5572916vw;
	}
	#Jobtitle, #CompanyName {
		font-size: 2.34375vw;
		line-height: 3.90625vw;
	}
	#SpeakerIconsContainer {
		margin-top: 3.2552083vw;
	}
	.SpeakerIcon {
		width: 3.515625vw;
		height: 3.515625vw;	
		margin-right: 1.953125vw;
	}
	#SpeakerWebsiteIcon {
		font-size: 3.515625vw;
		top: -0.390625vw;
		left: 0.6510416vw;
	}
	#CompanyLogo {
		display: none;
	}
}




	#SpeakerBio {
		font-weight: 500;
		font-size: 16px;
		line-height: 29px;
		margin-top: 55px;
		margin-bottom: 0;
	}
	#SpeakerBio * {
		font-size: 16px;
		line-height: 29px;
	}
@media (max-width: 1000px) {
	#SpeakerBio {
		font-size: 2.083333vw;
		line-height: 3.125vw;
		/*margin-left: 2.604166vw;*/
		margin-right: 2.604166vw;
		margin-top: 3.90625vw;		
	}
	#SpeakerBio * {
		font-size: 2.083333vw;
		line-height: 3.125vw;
	}	
}
/*End Modal*/

.SpeakerListAnchor {
	position:absolute;
	margin-top:-5vw;
}

/*Modal Navigation Arrows*/

.DesktopNavigationArrow {
	position: absolute;
	top: 250px;	
	font-size: 25px;
}
.icon-back-icon, .icon-next-icon {
	color: 	#b9b9b9;
	transition: color 0.3s;
	cursor: pointer;
}
.icon-back-icon:hover, .icon-next-icon:hover {
	color: 	#6f6e71;
}
.icon-back-icon {
	left: 40px;	
}
.icon-next-icon {
	right: 40px;	
}

#MobileArrowsContainer {
	display: none;	
}

@media (max-width: 1020px) {
	.DesktopNavigationArrow {
	top: 24.5098vw;	
	font-size: 2.45098vw;
}
.icon-back-icon {
	left: 3.921568vw;	
}
.icon-next-icon {
	right: 3.921568vw;	
}
}
@media (max-width: 640px) {
.DesktopNavigationArrow {
	display: none;
}


#MobileArrowsContainer {
	position: fixed;
	bottom: 50px;
	text-align: center;
	margin-left: 28.125vw;
}
.MobileArrow {
	cursor: pointer;
	margin: 0 7.8125vw;	
	width: 4.375vw;
	height: 3.4375vw;
}
}