@charset "utf-8";
/* General Definitions*/

.fa-external-link {
	padding:10px 10px 10px 0;	
}

.SysIcon {
  padding: 1vw 1vw 1vw 0;
  font-size: 35px;
  cursor:pointer;
  
}

.SystemIcons{
	text-align: right;
    max-width: 66%;
}

.SelectClass {
  min-width: 18vw;
  margin: 15px 2vw 2vw;
  min-height: 35px;
  color: #555;
  padding: 0 5px;
  border: 1px solid rgba(191, 192, 194, 0.79);
  border-radius: 4px;
	
}

.HelpText {
	display:none;
	color:rgba(211,17,21,1.00);
}

.AlaCarteContainer {
	display:none;	
}

.SocialLinkEdit {
  font-size: 11pt !important;
}

.AlacarteContainer{
	  /*padding-bottom: 5vw;*/
}

.AlaCarteBox{
	
}

.AlaCarteItem, .AlaCarteItemNew{
  display: inline-block;
  border: 1px solid;
  padding: 0.5vw;
  margin: 0 0.6vw 0 0;
  cursor:pointer;
  transition:all 0.3s;
}

.AlaCarteItem:hover, .AlaCarteItemNew:hover{
	background-color:#393737;
	color: white;
	
}

.AlaCarteItemNew{
margin: 5vw 0;
}

.EditField {
	height: 25px;
	padding: 5px;
	min-width:200px;
}

.SysApprove {
    padding: 12px;
    margin: 30px 0;
    width: 146px;
    background-color: #0A8646;
    color: #fff;
	cursor:pointer;
	transition: all 0.3s;
}

.SysApprove:hover {
	background-color: #3C4A43;
}