@charset "utf-8";
/* General Definitions*/

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.RobotoText {
  font-family: 'Roboto', sans-serif;
}
.OswaldText {
  font-family: 'Oswald', sans-serif;
}

/*END  General Definitions*/


.wrapper {
	max-width:760px; 
	width:100%; 
	margin:0 auto;
}

#container {
	width:100%; 
    margin:0 auto;
	
}

.WrapperMainH1 {
	max-width: 760px;
	text-align:center;
	width:100%; 
    margin:0 auto;
	color: #000000;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 40px;
    font-size: 35px;
}


.WelcomeTexT{
	width:100%;
    font-size: 24px;
   line-height: 30px;
   text-align:center;
}


.AdminInputField {
	-webkit-appearance: none;
    -webkit-border-radius: 0px;
	 background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
	padding: 0.5rem;
    margin: 0 0 1rem 0;
	width:100%;
	transition:all 0.6s;
	
	font-size: 20px;
	height: 56px;
 
	
	/*
	  height: 2.3125rem;
	 font-size: 0.875rem;	

	*/
}

.AdminSubmitButton {
	  border: 0;
	  margin: 0 auto;
	  width: 100%;
	  padding: 10px 10px;
	  text-transform: uppercase;
	  text-align: center;
	  font-size: 20px;
	  color: #fff;
	  transition: all 0.3s;
	  background: #00a8c6;
	  margin-bottom: 50px;
	  height: 56px;
	  max-width:100%;
	
}

.AdminSubmitButton:hover {
	transition: all 0.3s;
    background: #FC354C;
    cursor: pointer;
	
}

#DropDiv, #DropDivCompany{
	height:250px;
	display:block;
	max-width:760px; 
	width:100%; 
	margin:0 auto;
	background:url(../img/admin/drag_and_drop_bg.png);
	
}

#DropDiv:hover{
	cursor:pointer;
	
}


.AdminResponseClass {
	 transition: all 0.3s;
	 font-size: 18px;
	 background-color:rgba(229, 229, 229, 0.33);
}

.AdminResponseClass i {
	color:#2A7813;
}

#ResponseDiv {
	width: 100%;
	margin: 35px 0 0 450px;
    position: absolute;
	max-width: 400px;
	
}

.SelectClass {
  width: 100%;
  max-width: 230px;
  margin: 0 auto 2vw;
  min-height: 35px;
  /* background-color: rgba(231, 240, 240, 0.12); */
  color: #555;
  padding: 0 5px;
  border: 1px solid rgba(191, 192, 194, 0.79);
  border-radius: 4px;
	
}

.TextAreaClass {
  width: 99%;
  margin-bottom: 35px;
  min-height: 7vw;
	
}


.HelpText {
	display:none;
	color:rgba(211,17,21,1.00);
}

.EditField {
	  height: 35px;
  padding-left: 6px;
  margin-bottom:5px;
	
}

#ReturnValue{
	position:fixed;
	padding: 2vw;
	background-color:rgba(0,0,0,0.94);
	z-index: 5000;
}

#NotificationCenter{
    margin-top: 0vw;
    background-color: rgba(23, 11, 11, 0.74);
    padding: 0 6vw;
	opacity: 0;
	list-style-type:none;
    -webkit-animation: easing 1s forwards;  /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-in;  /* Chrome, Safari, Opera */
    animation: easing 1s forwards;
    animation-timing-function: ease-in;
	-webkit-animation-delay: 0.3s; /* Chrome, Safari, Opera */
    animation-delay: 0.3s;
	z-index:50000;
}

#NotificationCenter li {
 color:	#FBF0EE;
 opacity:0;
 padding: 0.4vw;
    -webkit-animation: displaying 0.7s forwards;  /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: ease-in;  /* Chrome, Safari, Opera */
    animation: displaying 0.7s forwards;
    animation-timing-function: ease-in;
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
	text-decoration: none;
}

#NotificationCenter li a {
	text-decoration: none;
	color:	#FBF0EE;
}

/*Notification displaying*/
@-webkit-keyframes easing {
    from {opacity:0; padding:0 6vw;}
    to {opacity:1; padding: 1vw 6vw;}
}

@keyframes easing {
    from {opacity:0; padding:0 6vw;}
    to {opacity:1; padding: 1vw 6vw;}
}

/*Notification li displaying*/
@-webkit-keyframes displaying {
    from {opacity:0;}
    to {opacity:1; }
}

@keyframes displaying {
    from {opacity:0; }
    to {opacity:1;}
}

.SysApprove {
    padding: 12px;
    margin: 30px 0;
    width: 146px;
    background-color: #0A8646;
    color: #fff;
	cursor:pointer;
	transition: all 0.3s;
}

.SysApprove:hover {
	background-color: #3C4A43;
}